body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
}

.header {
    background-color: #1f2937;
    display: flex; 
    font-size: 24px;
    color: #F9FAF8;
    align-items: center;
    justify-content: space-around;
}

.logo {
    margin: 0;
    padding: 0;
}

.links {
    list-style-type: none;
    display: flex;
    font-size: 18px;
    gap: 16px;
}

a {
    display: flex;
    text-decoration: none;
    color: #E5E7EB;
}

.hero {
    background-color: #1f2937;
    color: #F9FAF8;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.left {
    width: 400px;
    padding: 16px;
}

.title {
    font-size: 48px;
    font-weight: 900;
}

.content {
    font-size: 18px;
    width: 400px;
    margin: 10px 0px;
}

button {
    background-color: #3882F6;
    border-radius: 5px;
    color: #F9FAF8;
    border-style: none;
    padding: 5px 40px;
}

img {
    width: 150px;
}

.right {
    flex-wrap: wrap;
}

.information {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 18px;
    margin-bottom: 24px;
}

.info {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    padding: 16px;
    margin-bottom: 48px;
}

.talents {
    display: flex;
    justify-content: center;
    gap: 52px;
}

.talent {
    justify-content: space-around;
}

.box {
    width: 200px;
    height: 200px;
    margin-bottom: 8px;
    border-style: solid;
    border-radius: 15px;
    border-color: #3882F6;
    flex: 0;
}

.quote {
    display: flex;
    background-color: #E5E7EB;
    align-items: center;
    justify-content: center;
    padding: 60px;
    flex-direction: column;
}

.quotes {
    width: 500px;
    font-size: 36px;
    color: #1f2937;
}

.quotee {
    display: flex;
    align-items: end;
    font-weight: 700;
    font-size: 20px;
}